swistak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:SwistakWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:SwistakWSDL">
<types>
<xsd:schema targetNamespace="urn:SwistakWSDL"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="SwistakMessage">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="idArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:integer[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="transactionArray">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="time" type="xsd:long"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="item_sold_count" type="xsd:integer"/>
   <xsd:element name="customer_id" type="xsd:long"/>
   <xsd:element name="customer_login" type="xsd:string"/>
   <xsd:element name="customer_first_name" type="xsd:string"/>
   <xsd:element name="customer_last_name" type="xsd:string"/>
   <xsd:element name="customer_company" type="xsd:string"/>
   <xsd:element name="customer_street" type="xsd:string"/>
   <xsd:element name="customer_postcode" type="xsd:string"/>
   <xsd:element name="customer_city" type="xsd:string"/>
   <xsd:element name="customer_country" type="xsd:string"/>
   <xsd:element name="customer_email" type="xsd:string"/>
   <xsd:element name="customer_phone" type="xsd:string"/>
   <xsd:element name="customer_blocked" type="xsd:string"/>
   <xsd:element name="delivery_info" type="xsd:integer"/>
   <xsd:element name="costs_delivery" type="xsd:float"/>
   <xsd:element name="invoice" type="xsd:integer"/>
   <xsd:element name="customer_message" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="transactionsArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:transactionArray[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="transaction_report">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="sold_count" type="xsd:float"/>
   <xsd:element name="sold_worth" type="xsd:float"/>
   <xsd:element name="customer_count" type="xsd:integer"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="transactions_report">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:transaction_report[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="site_journal">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="time" type="xsd:long"/>
   <xsd:element name="type" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="site_journal_array">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:site_journal[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ids">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="idsArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ids[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="error">
  <xsd:all>
   <xsd:element name="err_code" type="xsd:integer"/>
   <xsd:element name="err" type="xsd:string"/>
   <xsd:element name="id_out" type="xsd:integer"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="errorArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:error[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="my_auction">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="title" type="xsd:string"/>
   <xsd:element name="description" type="xsd:string"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="item_count" type="xsd:integer"/>
   <xsd:element name="item_sold_count" type="xsd:integer"/>
   <xsd:element name="time_start" type="xsd:long"/>
   <xsd:element name="category_id" type="xsd:integer"/>
   <xsd:element name="type" type="xsd:integer"/>
   <xsd:element name="fotos" type="tns:auction_fotos"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="my_auctions">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:my_auction[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="search_auction">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="title" type="xsd:string"/>
   <xsd:element name="url" type="xsd:string"/>
   <xsd:element name="img_100" type="xsd:string"/>
   <xsd:element name="img_222" type="xsd:string"/>
   <xsd:element name="kat_id" type="xsd:long"/>
   <xsd:element name="kat_name" type="xsd:string"/>
   <xsd:element name="kat_url" type="xsd:string"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="location" type="xsd:string"/>
   <xsd:element name="login" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="search_auctions">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:search_auction[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="cost_delivery">
  <xsd:all>
   <xsd:element name="min" type="xsd:integer"/>
   <xsd:element name="max" type="xsd:integer"/>
   <xsd:element name="cost" type="xsd:float"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="costs_delivery">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:cost_delivery[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="auction_costs_delivery">
  <xsd:all>
   <xsd:element name="cost_1" type="tns:costs_delivery"/>
   <xsd:element name="cost_2" type="tns:costs_delivery"/>
   <xsd:element name="cost_3" type="tns:costs_delivery"/>
   <xsd:element name="cost_4" type="tns:costs_delivery"/>
   <xsd:element name="cost_5" type="tns:costs_delivery"/>
   <xsd:element name="cost_6" type="tns:costs_delivery"/>
   <xsd:element name="cost_7" type="tns:costs_delivery"/>
   <xsd:element name="cost_8" type="tns:costs_delivery"/>
   <xsd:element name="cost_9" type="tns:costs_delivery"/>
   <xsd:element name="cost_10" type="tns:costs_delivery"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="auction_foto">
  <xsd:all>
   <xsd:element name="url" type="xsd:string"/>
   <xsd:element name="src" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="auction_fotos">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:auction_foto[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="auction_parameter">
  <xsd:all>
   <xsd:element name="parameter_id" type="xsd:integer"/>
   <xsd:element name="value" type="xsd:long"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="auction_parameters">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:auction_parameter[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="auction_params">
  <xsd:all>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="title" type="xsd:string"/>
   <xsd:element name="type" type="xsd:integer"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="item_count" type="xsd:integer"/>
   <xsd:element name="unit" type="xsd:integer"/>
   <xsd:element name="description" type="xsd:string"/>
   <xsd:element name="tags" type="xsd:string"/>
   <xsd:element name="city" type="xsd:string"/>
   <xsd:element name="province" type="xsd:integer"/>
   <xsd:element name="category_id" type="xsd:integer"/>
   <xsd:element name="condition_product" type="xsd:integer"/>
   <xsd:element name="delivery_info" type="xsd:integer"/>
   <xsd:element name="who_payment" type="xsd:integer"/>
   <xsd:element name="costs_delivery" type="tns:auction_costs_delivery"/>
   <xsd:element name="parameters" type="tns:auction_parameters"/>
   <xsd:element name="fotos" type="tns:auction_fotos"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="auctions_params">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:auction_params[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="update_auction_params">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="id_out" type="xsd:long"/>
   <xsd:element name="title" type="xsd:string"/>
   <xsd:element name="type" type="xsd:integer"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="item_count" type="xsd:integer"/>
   <xsd:element name="description" type="xsd:string"/>
   <xsd:element name="tags" type="xsd:string"/>
   <xsd:element name="city" type="xsd:string"/>
   <xsd:element name="province" type="xsd:integer"/>
   <xsd:element name="category_id" type="xsd:integer"/>
   <xsd:element name="condition_product" type="xsd:integer"/>
   <xsd:element name="delivery_info" type="xsd:integer"/>
   <xsd:element name="who_payment" type="xsd:integer"/>
   <xsd:element name="costs_delivery" type="tns:auction_costs_delivery"/>
   <xsd:element name="parameters" type="tns:auction_parameters"/>
   <xsd:element name="fotos" type="tns:auction_fotos"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="parameter">
  <xsd:all>
   <xsd:element name="parameter_id" type="xsd:integer"/>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="type" type="xsd:string"/>
   <xsd:element name="values" type="tns:parameter_values"/>
   <xsd:element name="unit" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="parameters">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:parameter[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="parameter_value">
  <xsd:all>
   <xsd:element name="label" type="xsd:string"/>
   <xsd:element name="value" type="xsd:integer"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="parameter_values">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:parameter_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="auction">
  <xsd:all>
   <xsd:element name="aukcja_id" type="xsd:integer"/>
   <xsd:element name="user_id" type="xsd:integer"/>
   <xsd:element name="user_login" type="xsd:string"/>
   <xsd:element name="tytul_aukcji" type="xsd:string"/>
   <xsd:element name="status" type="xsd:integer"/>
   <xsd:element name="data_start" type="xsd:string"/>
   <xsd:element name="data_end" type="xsd:string"/>
   <xsd:element name="cena_start" type="xsd:float"/>
   <xsd:element name="cena_obecna" type="xsd:float"/>
   <xsd:element name="cena_kup_teraz" type="xsd:float"/>
   <xsd:element name="typ" type="xsd:integer"/>
   <xsd:element name="ilosc_licytacji" type="xsd:integer"/>
   <xsd:element name="ilosc_sztuk" type="xsd:integer"/>
   <xsd:element name="ilosc_sztuk_sprzedanych" type="xsd:integer"/>
   <xsd:element name="ilosc_zdjec" type="xsd:integer"/>
   <xsd:element name="url" type="xsd:string"/>
   <xsd:element name="url_miniaturka" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="auctions">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:auction[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="feedback_params">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="user_id" type="xsd:integer"/>
   <xsd:element name="rate_1" type="xsd:integer"/>
   <xsd:element name="rate_2" type="xsd:integer"/>
   <xsd:element name="rate_3" type="xsd:integer"/>
   <xsd:element name="rate_4" type="xsd:integer"/>
   <xsd:element name="comment" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="feedbackArray">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="user_id" type="xsd:integer"/>
   <xsd:element name="user_login" type="xsd:string"/>
   <xsd:element name="type" type="xsd:integer"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="feedbacksArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:feedbackArray[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="feedback">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="user_id_to" type="xsd:integer"/>
   <xsd:element name="user_login_to" type="xsd:string"/>
   <xsd:element name="user_id_form" type="xsd:integer"/>
   <xsd:element name="user_login_form" type="xsd:string"/>
   <xsd:element name="time" type="xsd:integer"/>
   <xsd:element name="type" type="xsd:integer"/>
   <xsd:element name="rate_1" type="xsd:integer"/>
   <xsd:element name="rate_2" type="xsd:integer"/>
   <xsd:element name="rate_3" type="xsd:integer"/>
   <xsd:element name="rate_4" type="xsd:integer"/>
   <xsd:element name="comment" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="feedbacks">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:feedback[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="province">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="province" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="provinceArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:province[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="delivery_info">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="delivery_info" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="delivery_infoArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:delivery_info[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="unit">
  <xsd:all>
   <xsd:element name="id" type="xsd:integer"/>
   <xsd:element name="unit" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="unitArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:unit[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="get_auctionArray">
  <xsd:all>
   <xsd:element name="id" type="xsd:long"/>
   <xsd:element name="title" type="xsd:string"/>
   <xsd:element name="type" type="xsd:integer"/>
   <xsd:element name="price" type="xsd:float"/>
   <xsd:element name="item_count" type="xsd:integer"/>
   <xsd:element name="unit" type="xsd:integer"/>
   <xsd:element name="datetime_end" type="xsd:long"/>
   <xsd:element name="description" type="xsd:string"/>
   <xsd:element name="tags" type="xsd:string"/>
   <xsd:element name="city" type="xsd:string"/>
   <xsd:element name="province" type="xsd:integer"/>
   <xsd:element name="category_id" type="xsd:integer"/>
   <xsd:element name="condition_product" type="xsd:integer"/>
   <xsd:element name="delivery_info" type="xsd:integer"/>
   <xsd:element name="who_payment" type="xsd:integer"/>
   <xsd:element name="costs_delivery" type="tns:auction_costs_delivery"/>
   <xsd:element name="parameters" type="tns:auction_parameters"/>
   <xsd:element name="fotos" type="tns:auction_fotos"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="get_auctionsArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:get_auctionArray[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="get_hashRequest">
  <part name="login" type="xsd:string" />
  <part name="pass" type="xsd:string" /></message>
<message name="get_hashResponse">
  <part name="hash" type="xsd:string" /></message>
<message name="get_transactionsRequest">
  <part name="hash" type="xsd:string" />
  <part name="ids" type="tns:idArray" />
  <part name="ids_out" type="tns:idArray" /></message>
<message name="get_transactionsResponse">
  <part name="transactions" type="tns:transactionsArray" /></message>
<message name="get_transactions_reportRequest">
  <part name="hash" type="xsd:string" />
  <part name="time" type="xsd:long" /></message>
<message name="get_transactions_reportResponse">
  <part name="transactions" type="tns:transactions_report" /></message>
<message name="get_site_journalRequest">
  <part name="hash" type="xsd:string" />
  <part name="time" type="xsd:long" /></message>
<message name="get_site_journalResponse">
  <part name="site_journal_array" type="tns:site_journal_array" /></message>
<message name="end_auctionsRequest">
  <part name="hash" type="xsd:string" />
  <part name="ids" type="tns:idArray" />
  <part name="ids_out" type="tns:idArray" /></message>
<message name="end_auctionsResponse">
  <part name="idsArray" type="tns:idsArray" /></message>
<message name="get_my_auctionsRequest">
  <part name="hash" type="xsd:string" />
  <part name="offset" type="xsd:integer" />
  <part name="limit" type="xsd:integer" /></message>
<message name="get_my_auctionsResponse">
  <part name="total_auctions" type="xsd:integer" />
  <part name="auctions" type="tns:my_auctions" /></message>
<message name="get_id_by_loginRequest">
  <part name="login" type="xsd:string" /></message>
<message name="get_id_by_loginResponse">
  <part name="id" type="xsd:integer" /></message>
<message name="update_auctionRequest">
  <part name="hash" type="xsd:string" />
  <part name="params" type="tns:update_auction_params" /></message>
<message name="update_auctionResponse">
  <part name="id" type="xsd:long" />
  <part name="id_out" type="xsd:long" /></message>
<message name="add_auctionRequest">
  <part name="hash" type="xsd:string" />
  <part name="params" type="tns:auction_params" /></message>
<message name="add_auctionResponse">
  <part name="id" type="xsd:long" />
  <part name="id_out" type="xsd:long" /></message>
<message name="add_auctionsRequest">
  <part name="hash" type="xsd:string" />
  <part name="params" type="tns:auctions_params" /></message>
<message name="add_auctionsResponse">
  <part name="idsArray" type="tns:idsArray" />
  <part name="errorArray" type="tns:errorArray" /></message>
<message name="get_parametersRequest">
  <part name="category_id" type="xsd:integer" /></message>
<message name="get_parametersResponse">
  <part name="parameters" type="tns:parameters" /></message>
<message name="search_auctionsRequest">
  <part name="fraza" type="xsd:string" />
  <part name="fraza_pomin" type="xsd:string" />
  <part name="cena_od" type="xsd:float" />
  <part name="cena_do" type="xsd:float" />
  <part name="login" type="xsd:string" />
  <part name="miejscowosc" type="xsd:string" />
  <part name="wojewodztwo" type="xsd:integer" />
  <part name="rodzaj" type="xsd:integer" />
  <part name="odbior_osobisty" type="xsd:integer" />
  <part name="dostawa_gratis" type="xsd:integer" />
  <part name="typ_aukcji" type="xsd:integer" />
  <part name="sort" type="xsd:integer" />
  <part name="kat_id" type="xsd:integer" />
  <part name="strona" type="xsd:integer" />
  <part name="opis" type="xsd:integer" />
  <part name="stan_towaru" type="xsd:integer" />
  <part name="limit" type="xsd:integer" /></message>
<message name="search_auctionsResponse">
  <part name="total_found" type="xsd:integer" />
  <part name="search_auctions" type="tns:search_auctions" />
  <part name="return" type="tns:SwistakMessage" />
  <part name="err" type="tns:SwistakMessage" /></message>
<message name="show_auctionRequest">
  <part name="id" type="xsd:integer" /></message>
<message name="show_auctionResponse">
  <part name="auction" type="tns:auction" />
  <part name="return" type="tns:SwistakMessage" />
  <part name="err" type="tns:SwistakMessage" /></message>
<message name="add_feedbackRequest">
  <part name="hash" type="xsd:string" />
  <part name="feedback_params" type="tns:feedback_params" /></message>
<message name="add_feedbackResponse">
  <part name="feedback_id" type="xsd:integer" /></message>
<message name="get_waiting_feedbacksRequest">
  <part name="hash" type="xsd:string" /></message>
<message name="get_waiting_feedbacksResponse">
  <part name="feedbacksArray" type="tns:feedbacksArray" /></message>
<message name="get_feedbacksRequest">
  <part name="user_id_form" type="xsd:integer" />
  <part name="user_id_to" type="xsd:integer" />
  <part name="type" type="xsd:integer" />
  <part name="limit" type="xsd:integer" />
  <part name="offset" type="xsd:integer" /></message>
<message name="get_feedbacksResponse">
  <part name="feedbacks" type="tns:feedbacks" />
  <part name="feedback_count" type="xsd:integer" /></message>
<message name="add_promotionRequest">
  <part name="hash" type="xsd:string" />
  <part name="id" type="xsd:integer" />
  <part name="payment_method" type="xsd:integer" />
  <part name="promotion_1" type="xsd:integer" />
  <part name="promotion_2" type="xsd:integer" />
  <part name="promotion_3" type="xsd:integer" />
  <part name="promotion_4" type="xsd:integer" />
  <part name="promotion_5" type="xsd:integer" /></message>
<message name="add_promotionResponse">
  <part name="cost" type="xsd:float" /></message>
<message name="get_provinceRequest"></message>
<message name="get_provinceResponse">
  <part name="provinceArray" type="tns:provinceArray" /></message>
<message name="get_delivery_infoRequest"></message>
<message name="get_delivery_infoResponse">
  <part name="delivery_infoArray" type="tns:delivery_infoArray" /></message>
<message name="get_unitRequest"></message>
<message name="get_unitResponse">
  <part name="unitArray" type="tns:unitArray" /></message>
<message name="get_auctionsRequest">
  <part name="hash" type="xsd:string" />
  <part name="ids" type="tns:idArray" /></message>
<message name="get_auctionsResponse">
  <part name="get_auctionsArray" type="tns:get_auctionsArray" /></message>
<portType name="SwistakPortType">
  <operation name="get_hash">
    <input message="tns:get_hashRequest"/>
    <output message="tns:get_hashResponse"/>
  </operation>
  <operation name="get_transactions">
    <input message="tns:get_transactionsRequest"/>
    <output message="tns:get_transactionsResponse"/>
  </operation>
  <operation name="get_transactions_report">
    <input message="tns:get_transactions_reportRequest"/>
    <output message="tns:get_transactions_reportResponse"/>
  </operation>
  <operation name="get_site_journal">
    <input message="tns:get_site_journalRequest"/>
    <output message="tns:get_site_journalResponse"/>
  </operation>
  <operation name="end_auctions">
    <input message="tns:end_auctionsRequest"/>
    <output message="tns:end_auctionsResponse"/>
  </operation>
  <operation name="get_my_auctions">
    <input message="tns:get_my_auctionsRequest"/>
    <output message="tns:get_my_auctionsResponse"/>
  </operation>
  <operation name="get_id_by_login">
    <input message="tns:get_id_by_loginRequest"/>
    <output message="tns:get_id_by_loginResponse"/>
  </operation>
  <operation name="update_auction">
    <input message="tns:update_auctionRequest"/>
    <output message="tns:update_auctionResponse"/>
  </operation>
  <operation name="add_auction">
    <input message="tns:add_auctionRequest"/>
    <output message="tns:add_auctionResponse"/>
  </operation>
  <operation name="add_auctions">
    <input message="tns:add_auctionsRequest"/>
    <output message="tns:add_auctionsResponse"/>
  </operation>
  <operation name="get_parameters">
    <input message="tns:get_parametersRequest"/>
    <output message="tns:get_parametersResponse"/>
  </operation>
  <operation name="search_auctions">
    <input message="tns:search_auctionsRequest"/>
    <output message="tns:search_auctionsResponse"/>
  </operation>
  <operation name="show_auction">
    <input message="tns:show_auctionRequest"/>
    <output message="tns:show_auctionResponse"/>
  </operation>
  <operation name="add_feedback">
    <input message="tns:add_feedbackRequest"/>
    <output message="tns:add_feedbackResponse"/>
  </operation>
  <operation name="get_waiting_feedbacks">
    <input message="tns:get_waiting_feedbacksRequest"/>
    <output message="tns:get_waiting_feedbacksResponse"/>
  </operation>
  <operation name="get_feedbacks">
    <input message="tns:get_feedbacksRequest"/>
    <output message="tns:get_feedbacksResponse"/>
  </operation>
  <operation name="add_promotion">
    <input message="tns:add_promotionRequest"/>
    <output message="tns:add_promotionResponse"/>
  </operation>
  <operation name="get_province">
    <input message="tns:get_provinceRequest"/>
    <output message="tns:get_provinceResponse"/>
  </operation>
  <operation name="get_delivery_info">
    <input message="tns:get_delivery_infoRequest"/>
    <output message="tns:get_delivery_infoResponse"/>
  </operation>
  <operation name="get_unit">
    <input message="tns:get_unitRequest"/>
    <output message="tns:get_unitResponse"/>
  </operation>
  <operation name="get_auctions">
    <input message="tns:get_auctionsRequest"/>
    <output message="tns:get_auctionsResponse"/>
  </operation>
</portType>
<binding name="SwistakBinding" type="tns:SwistakPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="get_hash">
    <soap:operation soapAction="#get_hash" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_transactions">
    <soap:operation soapAction="#get_transactions" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_transactions_report">
    <soap:operation soapAction="#get_transactions_report" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_site_journal">
    <soap:operation soapAction="#get_site_journal" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="end_auctions">
    <soap:operation soapAction="#get_transactions" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_my_auctions">
    <soap:operation soapAction="#get_my_auctions" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_id_by_login">
    <soap:operation soapAction="#get_id_by_login" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="update_auction">
    <soap:operation soapAction="#update_auction" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="add_auction">
    <soap:operation soapAction="#add_auction" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="add_auctions">
    <soap:operation soapAction="#add_auctions" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_parameters">
    <soap:operation soapAction="#get_parameters" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="search_auctions">
    <soap:operation soapAction="#show_auction" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="show_auction">
    <soap:operation soapAction="#show_auction" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="add_feedback">
    <soap:operation soapAction="#add_feedback" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_waiting_feedbacks">
    <soap:operation soapAction="#get_waiting_feedbacks" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_feedbacks">
    <soap:operation soapAction="#get_feedbacks" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="add_promotion">
    <soap:operation soapAction="#add_promotion" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_province">
    <soap:operation soapAction="#get_province" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_delivery_info">
    <soap:operation soapAction="#get_delivery_info" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_unit">
    <soap:operation soapAction="#get_unit" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="get_auctions">
    <soap:operation soapAction="#get_auctions" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:SwistakWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="Swistak">
  <port name="SwistakPort" binding="tns:SwistakBinding">
    <soap:address location="http://www.swistak.pl/out/wsdl/wsdl.html"/>
  </port>
</service>
</definitions>